
.footer {
  color: #B3B3B3;
  margin-bottom: 1ex;
}

.footer a {
  color: #87A0B3;
}
.topnav {
    background-color: #87A0B3;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #B3B3B3;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
